In [1]:
import pandas as pd
import numpy as np

Reading of Dataset

In [2]:
df = pd.read_csv("Dataset/Melbourne_housing_FULL.csv")

In [3]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [4]:
#Setting Suburb as the index
df.set_index("Suburb", inplace =True)
df

,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Suburb,,,,,,,,,,,,,,,,,,,,
Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,NaN,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [5]:
#Dropping unnecessary data
new_df =df.drop(columns =["Type", "Method", "Postcode", "Lattitude", "Longtitude", "Regionname"])
new_df

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,68 Studley St,2,NaN,Jellis,3/09/2016,2.5,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,4019.0
Abbotsford,18/659 Victoria St,3,NaN,Rounds,4/02/2016,2.5,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,6543.0
Yarraville,12/37 Stephen St,3,1140000.0,hockingstuart,24/02/2018,6.3,NaN,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,6543.0

In [6]:
#Extracting the data where price is notnull
new_data = new_df[new_df["Price"].notnull()]

In [7]:
new_data

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,4019.0
Abbotsford,40 Federation La,3,850000.0,Biggin,4/03/2017,2.5,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,55a Park St,4,1600000.0,Nelson,4/06/2016,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,6543.0
Yarraville,12/37 Stephen St,3,1140000.0,hockingstuart,24/02/2018,6.3,NaN,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,6543.0

In [8]:
#fill missing numbers in bedroom2 using number of rooms
new_data["Bedroom2"].fillna(new_data["Rooms"], inplace= True)
new_data

/var/folders/c6/xpspt_rd1cn69rq8vf7dsnym0000gn/T/ipykernel_1594/1033481052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["Bedroom2"].fillna(new_data["Rooms"], inplace= True)

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,4019.0
Abbotsford,40 Federation La,3,850000.0,Biggin,4/03/2017,2.5,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,55a Park St,4,1600000.0,Nelson,4/06/2016,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,6543.0
Yarraville,12/37 Stephen St,3,1140000.0,hockingstuart,24/02/2018,6.3,3.0,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,6543.0

In [9]:
#filling missing numbers in Bathroom using Bedroom2
new_data["Bathroom"].fillna(new_data["Bedroom2"], inplace=True)

/var/folders/c6/xpspt_rd1cn69rq8vf7dsnym0000gn/T/ipykernel_1594/1115572969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["Bathroom"].fillna(new_data["Bedroom2"], inplace=True)

In [10]:
new_data

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,4019.0
Abbotsford,40 Federation La,3,850000.0,Biggin,4/03/2017,2.5,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,4019.0
Abbotsford,55a Park St,4,1600000.0,Nelson,4/06/2016,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,6543.0
Yarraville,12/37 Stephen St,3,1140000.0,hockingstuart,24/02/2018,6.3,3.0,3.0,NaN,NaN,NaN,NaN,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,6543.0

In [11]:
#filling the missing number of values of the building area with the mean
mean_ba = new_data["BuildingArea"].mean()

In [12]:
new_data["BuildingArea"].fillna(mean_ba, inplace=True)
new_data

/var/folders/c6/xpspt_rd1cn69rq8vf7dsnym0000gn/T/ipykernel_1594/3070456016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["BuildingArea"].fillna(mean_ba, inplace=True)

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,156.834586,NaN,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.000000,1900.0,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.000000,1900.0,Yarra City Council,4019.0
Abbotsford,40 Federation La,3,850000.0,Biggin,4/03/2017,2.5,3.0,2.0,1.0,94.0,156.834586,NaN,Yarra City Council,4019.0
Abbotsford,55a Park St,4,1600000.0,Nelson,4/06/2016,2.5,3.0,1.0,2.0,120.0,142.000000,2014.0,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,156.834586,NaN,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.000000,2018.0,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.000000,2000.0,Maribyrnong City Council,6543.0
Yarraville,12/37 Stephen St,3,1140000.0,hockingstuart,24/02/2018,6.3,3.0,3.0,NaN,NaN,156.834586,NaN,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.000000,1930.0,Maribyrnong City Council,6543.0

In [14]:
#filling missing numbers in year using the mean values
mean_yb = new_data["YearBuilt"].mean()
mean_yb

1966.6091525984773

In [17]:
new_data["YearBuilt"].fillna(mean_yb, inplace=True)
new_data

/var/folders/c6/xpspt_rd1cn69rq8vf7dsnym0000gn/T/ipykernel_1594/2900673324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["YearBuilt"].fillna(mean_yb, inplace=True)

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,156.834586,1966.609153,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.000000,1900.000000,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.000000,1900.000000,Yarra City Council,4019.0
Abbotsford,40 Federation La,3,850000.0,Biggin,4/03/2017,2.5,3.0,2.0,1.0,94.0,156.834586,1966.609153,Yarra City Council,4019.0
Abbotsford,55a Park St,4,1600000.0,Nelson,4/06/2016,2.5,3.0,1.0,2.0,120.0,142.000000,2014.000000,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,156.834586,1966.609153,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.000000,2018.000000,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.000000,2000.000000,Maribyrnong City Council,6543.0
Yarraville,12/37 Stephen St,3,1140000.0,hockingstuart,24/02/2018,6.3,3.0,3.0,NaN,NaN,156.834586,1966.609153,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.000000,1930.000000,Maribyrnong City Council,6543.0

In [19]:
#Trying to get all data where the landsize is not empty
full_land= new_data[new_data["Landsize"].notnull()]
full_land

,Address,Rooms,Price,SellerG,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Propertycount
Suburb,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,1480000.0,Biggin,3/12/2016,2.5,2.0,1.0,1.0,202.0,156.834586,1966.609153,Yarra City Council,4019.0
Abbotsford,25 Bloomburg St,2,1035000.0,Biggin,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.000000,1900.000000,Yarra City Council,4019.0
Abbotsford,5 Charles St,3,1465000.0,Biggin,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.000000,1900.000000,Yarra City Council,4019.0
Abbotsford,40 Federation La,3,850000.0,Biggin,4/03/2017,2.5,3.0,2.0,1.0,94.0,156.834586,1966.609153,Yarra City Council,4019.0
Abbotsford,55a Park St,4,1600000.0,Nelson,4/06/2016,2.5,3.0,1.0,2.0,120.0,142.000000,2014.000000,Yarra City Council,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yarraville,78 Bayview Rd,3,1101000.0,Jas,24/02/2018,6.3,3.0,1.0,NaN,288.0,156.834586,1966.609153,Maribyrnong City Council,6543.0
Yarraville,13 Burns St,4,1480000.0,Jas,24/02/2018,6.3,4.0,1.0,3.0,593.0,156.834586,1966.609153,Maribyrnong City Council,6543.0
Yarraville,29A Murray St,2,888000.0,Sweeney,24/02/2018,6.3,2.0,2.0,1.0,98.0,104.000000,2018.000000,Maribyrnong City Council,6543.0
Yarraville,147A Severn St,2,705000.0,Jas,24/02/2018,6.3,2.0,1.0,2.0,220.0,120.000000,2000.000000,Maribyrnong City Council,6543.0
Yarraville,3 Tarrengower St,2,1020000.0,RW,24/02/2018,6.3,2.0,1.0,0.0,250.0,103.000000,1930.000000,Maribyrnong City Council,6543.0

In [20]:
#Extracting price, bedroom2 and landsize
bed_landsize_price = new_data[["Price", "Bedroom2", "Landsize"]]

In [21]:
bed_landsize_price

                Price  Bedroom2  Landsize
Suburb
Abbotsford  1480000.0       2.0     202.0
Abbotsford  1035000.0       2.0     156.0
Abbotsford  1465000.0       3.0     134.0
Abbotsford   850000.0       3.0      94.0
Abbotsford  1600000.0       3.0     120.0
...               ...       ...       ...
Yarraville  1480000.0       4.0     593.0
Yarraville   888000.0       2.0      98.0
Yarraville   705000.0       2.0     220.0
Yarraville  1140000.0       3.0       NaN
Yarraville  1020000.0       2.0     250.0

[27247 rows x 3 columns]

In [24]:
#Finding the relationship between bedroom, landsize and price
relationship_b_l_and_price =bed_landsize_price.corr(method="pearson")

In [25]:
relationship_b_l_and_price

             Price  Bedroom2  Landsize
Price     1.000000   0.45360  0.032748
Bedroom2  0.453600   1.00000  0.034170
Landsize  0.032748   0.03417  1.000000

#The relationship between the number of bedroom and Price is a positive relationship, although not strong. This 
#indicate that as the bedroom increases, the price increases, while the relationship between landsize and price 
#is none as the value obtain (0.032) is a value that can be approximated to zero

In [27]:
#finding the relationship between year built, building area and price
yb_ba_price = new_data[["Price", "BuildingArea", "YearBuilt"]]
yb_ba_price

                Price  BuildingArea    YearBuilt
Suburb
Abbotsford  1480000.0    156.834586  1966.609153
Abbotsford  1035000.0     79.000000  1900.000000
Abbotsford  1465000.0    150.000000  1900.000000
Abbotsford   850000.0    156.834586  1966.609153
Abbotsford  1600000.0    142.000000  2014.000000
...               ...           ...          ...
Yarraville  1480000.0    156.834586  1966.609153
Yarraville   888000.0    104.000000  2018.000000
Yarraville   705000.0    120.000000  2000.000000
Yarraville  1140000.0    156.834586  1966.609153
Yarraville  1020000.0    103.000000  1930.000000

[27247 rows x 3 columns]

In [28]:
correlating = yb_ba_price.corr(method="pearson")
correlating

                 Price  BuildingArea  YearBuilt
Price         1.000000      0.066514  -0.232294
BuildingArea  0.066514      1.000000   0.013086
YearBuilt    -0.232294      0.013086   1.000000

In [29]:
#extracting the price and bedroom2
bed_price = new_data[["Price", "Bedroom2"]]
bed_price

                Price  Bedroom2
Suburb
Abbotsford  1480000.0       2.0
Abbotsford  1035000.0       2.0
Abbotsford  1465000.0       3.0
Abbotsford   850000.0       3.0
Abbotsford  1600000.0       3.0
...               ...       ...
Yarraville  1480000.0       4.0
Yarraville   888000.0       2.0
Yarraville   705000.0       2.0
Yarraville  1140000.0       3.0
Yarraville  1020000.0       2.0

[27247 rows x 2 columns]

In [35]:
#grouping by bedroom2 and finding the sum
sum_= bed_price.groupby("Bedroom2").sum()
sum_

                 Price
Bedroom2
0.0       1.648350e+07
1.0       5.325307e+08
2.0       5.270359e+09
3.0       1.235486e+10
4.0       7.994413e+09
5.0       2.118505e+09
6.0       2.421160e+08
7.0       3.528350e+07
8.0       1.833002e+07
9.0       5.841000e+06
10.0      1.329000e+07
12.0      5.410000e+06
16.0      5.000000e+06
20.0      1.650000e+06

In [45]:
#grouping by bedroom2 and finding the mean
mean_=bed_price.groupby("Bedroom2").median()
mean_

              Price
Bedroom2
0.0        851000.0
1.0        390500.0
2.0        682000.0
3.0        900000.0
4.0       1202000.0
5.0       1550000.0
6.0       1663000.0
7.0       1450000.0
8.0       1525000.0
9.0       1070000.0
10.0      1960000.0
12.0      2705000.0
16.0      5000000.0
20.0      1650000.0

In [46]:
#Merging the mean and the sum in a dataframe
mean_sum =pd.merge(sum_, mean_, left_index=True, right_index=True)
mean_sum

               Price_x    Price_y
Bedroom2
0.0       1.648350e+07   851000.0
1.0       5.325307e+08   390500.0
2.0       5.270359e+09   682000.0
3.0       1.235486e+10   900000.0
4.0       7.994413e+09  1202000.0
5.0       2.118505e+09  1550000.0
6.0       2.421160e+08  1663000.0
7.0       3.528350e+07  1450000.0
8.0       1.833002e+07  1525000.0
9.0       5.841000e+06  1070000.0
10.0      1.329000e+07  1960000.0
12.0      5.410000e+06  2705000.0
16.0      5.000000e+06  5000000.0
20.0      1.650000e+06  1650000.0

In [47]:
#Renaming the table
mean_sum.columns=["Sum", "Median"]

In [48]:
mean_sum

                   Sum     Median
Bedroom2
0.0       1.648350e+07   851000.0
1.0       5.325307e+08   390500.0
2.0       5.270359e+09   682000.0
3.0       1.235486e+10   900000.0
4.0       7.994413e+09  1202000.0
5.0       2.118505e+09  1550000.0
6.0       2.421160e+08  1663000.0
7.0       3.528350e+07  1450000.0
8.0       1.833002e+07  1525000.0
9.0       5.841000e+06  1070000.0
10.0      1.329000e+07  1960000.0
12.0      5.410000e+06  2705000.0
16.0      5.000000e+06  5000000.0
20.0      1.650000e+06  1650000.0